<% provide(:title, 'Help')%>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
	</head>
	<body>
		<h1>Help</h1>
			<p>Need help, check out this site
				<a href="http://www.icity.no">www.icity.no</a>
			</p>
	</body>
</html>