<%provide(:title, "Jobs")%>

<h1>(H1)Jobs page</h1>
	<h2>(H2)<%= "Velkommen, idag er det #{Time.now.strftime('%A')}  #{@morten}"%></h2>
		<h3>(H3)<%= @morten%></h3>
			<h4>(H4)Ja ja ja sand</h4>
				<p>(P)<a href="http://www.icity.no">www.icity.no</a></p>
